<h2>Editing post</h2>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to '<span>Show</span>', @post, :class => "micro red button" %> |
<%= link_to '<span>Back to Blog</span>', posts_path, :class => "micro red button" %>