<h2>Blog Entries</h2>

<div id="gridWrapper">
  <div class="row">

    <div class="first one columns">
      <h4>Title</h4>
    </div>

    <div class="seven columns">
      <h4>Body</h4>
    </div>

  </div>

  <% @posts.each do |post| %>
      <div class="row">

        <div class="first one columns">
          <h5><%= h post.title %></h5>
        </div>

        <div class="seven columns">
          <%= h post.body %>
          <br/>
          <hr align="left" width="700px" background-color="#0070c3" color="#0070c3"/>
          <%= link_to '<span>View</span>', post, :class => "micro red button" %>
          <%= link_to '<span>Edit</span>', edit_post_path(post), :class => "micro red button" %>
          <%= link_to '<span>Destroy</span>', post, :confirm => 'Are you sure?', :method => :delete, :class => "micro red button" %>
        </div>
      </div>
      <br/>
      <br/>
  <% end %>
</div>


<%= link_to '<span>New post</span>', new_post_path, :class => "red button" %>