
<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>


<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back to Blog', posts_path %>

<hr align="left" width="550px" background-color="#0070c3" color="#0070c3"/>
<br /> 
<% form_for @comment do|f| %>
   <%= f.error_messages %>
   <%= f.hidden_field :post_id %>
<h3>COMMENTS</h3>
   <p>
     <%= f.label :name %><br />
     <%= f.text_field :name %>
   </p>

   <p>
     <%= f.label :body %><br />
     <%= f.text_area :body %>
   </p>

   <p>
     <%= f.submit "Post Comment" %>
   </p>
 <% end %>

 <%= render :partial => 'comment', :collection => @post.comments %>