!!!
%html
  %head
    %link{:rel=> "shortcut icon", :href=> "favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag 'compiled/global.css'
  %body
    #wrap
      #nav
        %ul
          %li
            = link_to "<span>Home</span>", "/home", :class => "small red button"
          %li
            = link_to "<span>Resume</span>", "/resume", :class => "small red button"
          %li
            = link_to "<span>Portfolio</span>", "/portfolio", :class => "small red button"
          %li
            = link_to "<span>About</span>", "/about", :class => "small red button"
          %li
            = link_to "<span>Contact</span>", "/contact", :class => "small red button"
          %li
            = link_to "<span>Blog</span>", "/posts", :class => "small red button"
          %hr(align="left" width="550px" background-color="#0070c3" color="#0070c3")
          %br
      #gridWrapper
        = flash[:notice]
        = flash[:error]
        = yield
    #footer
      #list_item
        Copyright Daniel T Leong 2010 all rights reserved
        %br
        Images courtesy of Jacob Giamanco 