!!!
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'compiled/global.css'
  %title
    Posts:
    = controller.action_name
  %body
    #nav
      %ul
        %li
          = link_to "<span>Home</span>", "/home", :class => "small red button"
        %li
          = link_to "<span>Resume</span>", "/resume", :class => "small red button"
        %li
          = link_to "<span>Portfolio</span>", "/portfolio", :class => "small red button"
        %li
          = link_to "<span>About</span>", "/about", :class => "small red button"
        %li
          = link_to "<span>Contact</span>", "/contact", :class => "small red button"
        %li
          = link_to "<span>Blog</span>", "/posts", :class => "small red button"
        %hr(align="left" width="550px" background-color="#0070c3" color="#0070c3")
        %br
    %p(style="color: green")
      = flash[:notice]
    = yield
   
      

